<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo List App</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <h1>Hello <%= userName %></h1>

    <h1><%= kindOfDay %></h1>

    <div class="box">

      <form action="/" method="post" class="item">
        <input type="text" name="newItem" />
        <button type="submit">add</button>
      </form>

      <% newListItems.forEach((item,i) => { %>
        <form action="/delete" method="post">
          <div class="item">
            <input type="checkbox" name="checkbox" value="<%= item %>" onchange="this.form.submit()"/>
            <p><%= item %></p>
          </div>
        </form>
      <% }); %>

    </div>

  </body>
  
</html>
